In [25]:
import pandas as pd
import numpy as np

In [26]:
#read the csv
df = pd.read_csv('data.csv')
df.head()

,StudentID,Name,Subject,Marks,Region,Date,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,S001,Juan Miller,English,NaN,East,03-04-2024,NaN,NaN,NaN,NaN,NaN
1,S002,Nicole Walters,Science,NaN,West,03-04-2024,NaN,NaN,NaN,NaN,NaN
2,S003,Paige Scott,Math,NaN,East,16-04-2024,NaN,NaN,NaN,NaN,NaN
3,S004,Jennifer Steele,Math,86.83,North,17-04-2024,NaN,NaN,NaN,NaN,NaN
4,S005,Felicia Franco,Math,NaN,NaN,14-04-2024,NaN,NaN,NaN,NaN,NaN

In [27]:
# Remove unnamed extra columns
df_clean = df.loc[:, ~df.columns.str.startswith('Unnamed')]
df_clean.head()

  StudentID             Name  Subject  Marks Region        Date
0      S001      Juan Miller  English    NaN   East  03-04-2024
1      S002   Nicole Walters  Science    NaN   West  03-04-2024
2      S003      Paige Scott     Math    NaN   East  16-04-2024
3      S004  Jennifer Steele     Math  86.83  North  17-04-2024
4      S005   Felicia Franco     Math    NaN    NaN  14-04-2024

In [28]:
row_count_before = df_clean.shape[0]
missing_before = df_clean.isnull().sum()
row_count_before, missing_before

(50,
 StudentID     0
 Name          4
 Subject       0
 Marks        31
 Region        8
 Date          0
 dtype: int64)

In [29]:
# 1. Trim spaces and standardize casing
df_clean['Name'] = df_clean['Name'].astype(str).str.strip().str.title()
df_clean['Region'] = df_clean['Region'].astype(str).str.upper()
df_clean.head()

/tmp/ipython-input-29-2082175843.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Name'] = df_clean['Name'].astype(str).str.strip().str.title()
/tmp/ipython-input-29-2082175843.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Region'] = df_clean['Region'].astype(str).str.upper()

  StudentID             Name  Subject  Marks Region        Date
0      S001      Juan Miller  English    NaN   EAST  03-04-2024
1      S002   Nicole Walters  Science    NaN   WEST  03-04-2024
2      S003      Paige Scott     Math    NaN   EAST  16-04-2024
3      S004  Jennifer Steele     Math  86.83  NORTH  17-04-2024
4      S005   Felicia Franco     Math    NaN    NAN  14-04-2024

In [30]:
# Replace missing Name values
df_clean['Name'] = df_clean['Name'].replace('Nan', 'Unnamed')
df_clean['Name'] = df_clean['Name'].fillna('Unnamed')
df_clean

/tmp/ipython-input-30-1718575261.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Name'] = df_clean['Name'].replace('Nan', 'Unnamed')
/tmp/ipython-input-30-1718575261.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Name'] = df_clean['Name'].fillna('Unnamed')

   StudentID                Name  Subject  Marks Region        Date
0       S001         Juan Miller  English    NaN   EAST  03-04-2024
1       S002      Nicole Walters  Science    NaN   WEST  03-04-2024
2       S003         Paige Scott     Math    NaN   EAST  16-04-2024
3       S004     Jennifer Steele     Math  86.83  NORTH  17-04-2024
4       S005      Felicia Franco     Math    NaN    NAN  14-04-2024
5       S006       Jessica Scott  Science  90.04   EAST  10-04-2024
6       S007     Dr. Joshua Dyer  English    NaN  NORTH  07-04-2024
7       S008       Jessica Brown  English    NaN   WEST  12-04-2024
8       S009   William Nicholson  Science  71.24  SOUTH  24-04-2024
9       S010        Kristie Rose  English  56.71   EAST  14-04-2024
10      S011      Charles Wilson  Science    NaN   EAST  11-04-2024
11      S012       Joseph Castro  English  55.58   WEST  22-04-2024
12      S013     Jennifer Taylor  Science    NaN    NAN  22-04-2024
13      S014         Denise West  Science    NaN  NORTH  04-04-2024
14      S015    Nicholas Michael  English  55.60    NAN  22-04-2024
15      S016     Donald Williams     Math    NaN  NORTH  17-04-2024
16      S017     Kristi Chandler  Science  55.03    NAN  01-04-2024
17      S018        Alyssa Moore  Science    NaN  SOUTH  11-04-2024
18      S019    Melissa Williams  English  79.08   WEST  03-04-2024
19      S020      Dustin Edwards  Science    NaN   EAST  22-04-2024
20      S021             Unnamed     Math  64.92   EAST  21-04-2024
21      S022      Jeremiah Reyes  English    NaN   WEST  03-04-2024
22      S023    Kristi Gallagher     Math    NaN  SOUTH  14-04-2024
23      S024       Justin Molina  Science    NaN  NORTH  03-04-2024
24      S025       Jason Jenkins  English    NaN   WEST  28-04-2024
25      S026      Stephen Ingram     Math  97.09    NAN  22-04-2024
26      S027      Cassandra Maso     Math    NaN   WEST  29-04-2024
27      S028       Mark Mitchell     Math  78.95  NORTH  03-04-2024
28      S029      Justin Serrano     Math  85.01   EAST  12-04-2024
29      S030        Jacob Huerta  English    NaN  NORTH  28-04-2024
30      S031             Unnamed  Science    NaN   EAST  23-04-2024
31      S032      Bradley Martin  English  52.36   EAST  27-04-2024
32      S033      Michael Cooper  Science  86.62  SOUTH  09-04-2024
33      S034        Robert Woods     Math    NaN   EAST  29-04-2024
34      S035             Unnamed     Math  58.26  NORTH  20-04-2024
35      S036      Matthew Archer     Math    NaN  NORTH  17-04-2024
36      S037     Mr. Thomas Jone  English  65.82  SOUTH  05-04-2024
37      S038  Christina Gonzales     Math  56.40   EAST  15-04-2024
38      S039        Brenda Watts  Science  94.30   WEST  06-04-2024
39      S040        Brian Conway  Science    NaN  SOUTH  01-04-2024
40      S041          Cindy Chan  English    NaN   EAST  02-04-2024
41      S042           Amy Davis     Math    NaN    NAN  07-04-2024
42      S043  Christopher Wilson  English    NaN  SOUTH  27-04-2024
43      S044       Pamela Sutton  Science    NaN    NAN  16-04-2024
44      S045          Dale Scott  English    NaN  SOUTH  17-04-2024
45      S046      Brenda Gregory  English    NaN  SOUTH  20-04-2024
46      S047      Steven Jackson  Science  68.29  SOUTH  23-04-2024
47      S048    Christian Taylor  Science    NaN    NAN  10-04-2024
48      S049           Gary Long  Science    NaN   EAST  04-04-2024
49      S050             Unnamed     Math    NaN   EAST  11-04-2024

In [31]:
# Clean and fill Marks
average_marks = df_clean['Marks'].mean()
df_clean['Marks'] = df_clean['Marks'].fillna(average_marks)
df_clean , average_marks

/tmp/ipython-input-31-99607958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Marks'] = df_clean['Marks'].fillna(average_marks)

(   StudentID                Name  Subject      Marks Region        Date
 0       S001         Juan Miller  English  71.480526   EAST  03-04-2024
 1       S002      Nicole Walters  Science  71.480526   WEST  03-04-2024
 2       S003         Paige Scott     Math  71.480526   EAST  16-04-2024
 3       S004     Jennifer Steele     Math  86.830000  NORTH  17-04-2024
 4       S005      Felicia Franco     Math  71.480526    NAN  14-04-2024
 5       S006       Jessica Scott  Science  90.040000   EAST  10-04-2024
 6       S007     Dr. Joshua Dyer  English  71.480526  NORTH  07-04-2024
 7       S008       Jessica Brown  English  71.480526   WEST  12-04-2024
 8       S009   William Nicholson  Science  71.240000  SOUTH  24-04-2024
 9       S010        Kristie Rose  English  56.710000   EAST  14-04-2024
 10      S011      Charles Wilson  Science  71.480526   EAST  11-04-2024
 11      S012       Joseph Castro  English  55.580000   WEST  22-04-2024
 12      S013     Jennifer Taylor  Science  71.480526    NAN  22-04-2024
 13      S014         Denise West  Science  71.480526  NORTH  04-04-2024
 14      S015    Nicholas Michael  English  55.600000    NAN  22-04-2024
 15      S016     Donald Williams     Math  71.480526  NORTH  17-04-2024
 16      S017     Kristi Chandler  Science  55.030000    NAN  01-04-2024
 17      S018        Alyssa Moore  Science  71.480526  SOUTH  11-04-2024
 18      S019    Melissa Williams  English  79.080000   WEST  03-04-2024
 19      S020      Dustin Edwards  Science  71.480526   EAST  22-04-2024
 20      S021             Unnamed     Math  64.920000   EAST  21-04-2024
 21      S022      Jeremiah Reyes  English  71.480526   WEST  03-04-2024
 22      S023    Kristi Gallagher     Math  71.480526  SOUTH  14-04-2024
 23      S024       Justin Molina  Science  71.480526  NORTH  03-04-2024
 24      S025       Jason Jenkins  English  71.480526   WEST  28-04-2024
 25      S026      Stephen Ingram     Math  97.090000    NAN  22-04-2024
 26      S027      Cassandra Maso     Math  71.480526   WEST  29-04-2024
 27      S028       Mark Mitchell     Math  78.950000  NORTH  03-04-2024
 28      S029      Justin Serrano     Math  85.010000   EAST  12-04-2024
 29      S030        Jacob Huerta  English  71.480526  NORTH  28-04-2024
 30      S031             Unnamed  Science  71.480526   EAST  23-04-2024
 31      S032      Bradley Martin  English  52.360000   EAST  27-04-2024
 32      S033      Michael Cooper  Science  86.620000  SOUTH  09-04-2024
 33      S034        Robert Woods     Math  71.480526   EAST  29-04-2024
 34      S035             Unnamed     Math  58.260000  NORTH  20-04-2024
 35      S036      Matthew Archer     Math  71.480526  NORTH  17-04-2024
 36      S037     Mr. Thomas Jone  English  65.820000  SOUTH  05-04-2024
 37      S038  Christina Gonzales     Math  56.400000   EAST  15-04-2024
 38      S039        Brenda Watts  Science  94.300000   WEST  06-04-2024
 39      S040        Brian Conway  Science  71.480526  SOUTH  01-04-2024
 40      S041          Cindy Chan  English  71.480526   EAST  02-04-2024
 41      S042           Amy Davis     Math  71.480526    NAN  07-04-2024
 42      S043  Christopher Wilson  English  71.480526  SOUTH  27-04-2024
 43      S044       Pamela Sutton  Science  71.480526    NAN  16-04-2024
 44      S045          Dale Scott  English  71.480526  SOUTH  17-04-2024
 45      S046      Brenda Gregory  English  71.480526  SOUTH  20-04-2024
 46      S047      Steven Jackson  Science  68.290000  SOUTH  23-04-2024
 47      S048    Christian Taylor  Science  71.480526    NAN  10-04-2024
 48      S049           Gary Long  Science  71.480526   EAST  04-04-2024
 49      S050             Unnamed     Math  71.480526   EAST  11-04-2024,
 np.float64(71.48052631578948))

In [32]:
# Replace missing Region
df_clean['Region'] = df_clean['Region'].replace('NAN', 'UNKNOWN')
df_clean['Region'] = df_clean['Region'].fillna('UNKNOWN')
df_clean

/tmp/ipython-input-32-216909808.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Region'] = df_clean['Region'].replace('NAN', 'UNKNOWN')
/tmp/ipython-input-32-216909808.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Region'] = df_clean['Region'].fillna('UNKNOWN')

   StudentID                Name  Subject      Marks   Region        Date
0       S001         Juan Miller  English  71.480526     EAST  03-04-2024
1       S002      Nicole Walters  Science  71.480526     WEST  03-04-2024
2       S003         Paige Scott     Math  71.480526     EAST  16-04-2024
3       S004     Jennifer Steele     Math  86.830000    NORTH  17-04-2024
4       S005      Felicia Franco     Math  71.480526  UNKNOWN  14-04-2024
5       S006       Jessica Scott  Science  90.040000     EAST  10-04-2024
6       S007     Dr. Joshua Dyer  English  71.480526    NORTH  07-04-2024
7       S008       Jessica Brown  English  71.480526     WEST  12-04-2024
8       S009   William Nicholson  Science  71.240000    SOUTH  24-04-2024
9       S010        Kristie Rose  English  56.710000     EAST  14-04-2024
10      S011      Charles Wilson  Science  71.480526     EAST  11-04-2024
11      S012       Joseph Castro  English  55.580000     WEST  22-04-2024
12      S013     Jennifer Taylor  Science  71.480526  UNKNOWN  22-04-2024
13      S014         Denise West  Science  71.480526    NORTH  04-04-2024
14      S015    Nicholas Michael  English  55.600000  UNKNOWN  22-04-2024
15      S016     Donald Williams     Math  71.480526    NORTH  17-04-2024
16      S017     Kristi Chandler  Science  55.030000  UNKNOWN  01-04-2024
17      S018        Alyssa Moore  Science  71.480526    SOUTH  11-04-2024
18      S019    Melissa Williams  English  79.080000     WEST  03-04-2024
19      S020      Dustin Edwards  Science  71.480526     EAST  22-04-2024
20      S021             Unnamed     Math  64.920000     EAST  21-04-2024
21      S022      Jeremiah Reyes  English  71.480526     WEST  03-04-2024
22      S023    Kristi Gallagher     Math  71.480526    SOUTH  14-04-2024
23      S024       Justin Molina  Science  71.480526    NORTH  03-04-2024
24      S025       Jason Jenkins  English  71.480526     WEST  28-04-2024
25      S026      Stephen Ingram     Math  97.090000  UNKNOWN  22-04-2024
26      S027      Cassandra Maso     Math  71.480526     WEST  29-04-2024
27      S028       Mark Mitchell     Math  78.950000    NORTH  03-04-2024
28      S029      Justin Serrano     Math  85.010000     EAST  12-04-2024
29      S030        Jacob Huerta  English  71.480526    NORTH  28-04-2024
30      S031             Unnamed  Science  71.480526     EAST  23-04-2024
31      S032      Bradley Martin  English  52.360000     EAST  27-04-2024
32      S033      Michael Cooper  Science  86.620000    SOUTH  09-04-2024
33      S034        Robert Woods     Math  71.480526     EAST  29-04-2024
34      S035             Unnamed     Math  58.260000    NORTH  20-04-2024
35      S036      Matthew Archer     Math  71.480526    NORTH  17-04-2024
36      S037     Mr. Thomas Jone  English  65.820000    SOUTH  05-04-2024
37      S038  Christina Gonzales     Math  56.400000     EAST  15-04-2024
38      S039        Brenda Watts  Science  94.300000     WEST  06-04-2024
39      S040        Brian Conway  Science  71.480526    SOUTH  01-04-2024
40      S041          Cindy Chan  English  71.480526     EAST  02-04-2024
41      S042           Amy Davis     Math  71.480526  UNKNOWN  07-04-2024
42      S043  Christopher Wilson  English  71.480526    SOUTH  27-04-2024
43      S044       Pamela Sutton  Science  71.480526  UNKNOWN  16-04-2024
44      S045          Dale Scott  English  71.480526    SOUTH  17-04-2024
45      S046      Brenda Gregory  English  71.480526    SOUTH  20-04-2024
46      S047      Steven Jackson  Science  68.290000    SOUTH  23-04-2024
47      S048    Christian Taylor  Science  71.480526  UNKNOWN  10-04-2024
48      S049           Gary Long  Science  71.480526     EAST  04-04-2024
49      S050             Unnamed     Math  71.480526     EAST  11-04-2024

In [33]:
# Convert Date
df_clean['Date'] = pd.to_datetime(df_clean['Date'], errors='coerce', dayfirst=True)
df_clean

   StudentID                Name  Subject      Marks   Region       Date
0       S001         Juan Miller  English  71.480526     EAST 2024-04-03
1       S002      Nicole Walters  Science  71.480526     WEST 2024-04-03
2       S003         Paige Scott     Math  71.480526     EAST 2024-04-16
3       S004     Jennifer Steele     Math  86.830000    NORTH 2024-04-17
4       S005      Felicia Franco     Math  71.480526  UNKNOWN 2024-04-14
5       S006       Jessica Scott  Science  90.040000     EAST 2024-04-10
6       S007     Dr. Joshua Dyer  English  71.480526    NORTH 2024-04-07
7       S008       Jessica Brown  English  71.480526     WEST 2024-04-12
8       S009   William Nicholson  Science  71.240000    SOUTH 2024-04-24
9       S010        Kristie Rose  English  56.710000     EAST 2024-04-14
10      S011      Charles Wilson  Science  71.480526     EAST 2024-04-11
11      S012       Joseph Castro  English  55.580000     WEST 2024-04-22
12      S013     Jennifer Taylor  Science  71.480526  UNKNOWN 2024-04-22
13      S014         Denise West  Science  71.480526    NORTH 2024-04-04
14      S015    Nicholas Michael  English  55.600000  UNKNOWN 2024-04-22
15      S016     Donald Williams     Math  71.480526    NORTH 2024-04-17
16      S017     Kristi Chandler  Science  55.030000  UNKNOWN 2024-04-01
17      S018        Alyssa Moore  Science  71.480526    SOUTH 2024-04-11
18      S019    Melissa Williams  English  79.080000     WEST 2024-04-03
19      S020      Dustin Edwards  Science  71.480526     EAST 2024-04-22
20      S021             Unnamed     Math  64.920000     EAST 2024-04-21
21      S022      Jeremiah Reyes  English  71.480526     WEST 2024-04-03
22      S023    Kristi Gallagher     Math  71.480526    SOUTH 2024-04-14
23      S024       Justin Molina  Science  71.480526    NORTH 2024-04-03
24      S025       Jason Jenkins  English  71.480526     WEST 2024-04-28
25      S026      Stephen Ingram     Math  97.090000  UNKNOWN 2024-04-22
26      S027      Cassandra Maso     Math  71.480526     WEST 2024-04-29
27      S028       Mark Mitchell     Math  78.950000    NORTH 2024-04-03
28      S029      Justin Serrano     Math  85.010000     EAST 2024-04-12
29      S030        Jacob Huerta  English  71.480526    NORTH 2024-04-28
30      S031             Unnamed  Science  71.480526     EAST 2024-04-23
31      S032      Bradley Martin  English  52.360000     EAST 2024-04-27
32      S033      Michael Cooper  Science  86.620000    SOUTH 2024-04-09
33      S034        Robert Woods     Math  71.480526     EAST 2024-04-29
34      S035             Unnamed     Math  58.260000    NORTH 2024-04-20
35      S036      Matthew Archer     Math  71.480526    NORTH 2024-04-17
36      S037     Mr. Thomas Jone  English  65.820000    SOUTH 2024-04-05
37      S038  Christina Gonzales     Math  56.400000     EAST 2024-04-15
38      S039        Brenda Watts  Science  94.300000     WEST 2024-04-06
39      S040        Brian Conway  Science  71.480526    SOUTH 2024-04-01
40      S041          Cindy Chan  English  71.480526     EAST 2024-04-02
41      S042           Amy Davis     Math  71.480526  UNKNOWN 2024-04-07
42      S043  Christopher Wilson  English  71.480526    SOUTH 2024-04-27
43      S044       Pamela Sutton  Science  71.480526  UNKNOWN 2024-04-16
44      S045          Dale Scott  English  71.480526    SOUTH 2024-04-17
45      S046      Brenda Gregory  English  71.480526    SOUTH 2024-04-20
46      S047      Steven Jackson  Science  68.290000    SOUTH 2024-04-23
47      S048    Christian Taylor  Science  71.480526  UNKNOWN 2024-04-10
48      S049           Gary Long  Science  71.480526     EAST 2024-04-04
49      S050             Unnamed     Math  71.480526     EAST 2024-04-11

In [34]:
df_clean = df_clean.drop_duplicates()
df_clean

   StudentID                Name  Subject      Marks   Region       Date
0       S001         Juan Miller  English  71.480526     EAST 2024-04-03
1       S002      Nicole Walters  Science  71.480526     WEST 2024-04-03
2       S003         Paige Scott     Math  71.480526     EAST 2024-04-16
3       S004     Jennifer Steele     Math  86.830000    NORTH 2024-04-17
4       S005      Felicia Franco     Math  71.480526  UNKNOWN 2024-04-14
5       S006       Jessica Scott  Science  90.040000     EAST 2024-04-10
6       S007     Dr. Joshua Dyer  English  71.480526    NORTH 2024-04-07
7       S008       Jessica Brown  English  71.480526     WEST 2024-04-12
8       S009   William Nicholson  Science  71.240000    SOUTH 2024-04-24
9       S010        Kristie Rose  English  56.710000     EAST 2024-04-14
10      S011      Charles Wilson  Science  71.480526     EAST 2024-04-11
11      S012       Joseph Castro  English  55.580000     WEST 2024-04-22
12      S013     Jennifer Taylor  Science  71.480526  UNKNOWN 2024-04-22
13      S014         Denise West  Science  71.480526    NORTH 2024-04-04
14      S015    Nicholas Michael  English  55.600000  UNKNOWN 2024-04-22
15      S016     Donald Williams     Math  71.480526    NORTH 2024-04-17
16      S017     Kristi Chandler  Science  55.030000  UNKNOWN 2024-04-01
17      S018        Alyssa Moore  Science  71.480526    SOUTH 2024-04-11
18      S019    Melissa Williams  English  79.080000     WEST 2024-04-03
19      S020      Dustin Edwards  Science  71.480526     EAST 2024-04-22
20      S021             Unnamed     Math  64.920000     EAST 2024-04-21
21      S022      Jeremiah Reyes  English  71.480526     WEST 2024-04-03
22      S023    Kristi Gallagher     Math  71.480526    SOUTH 2024-04-14
23      S024       Justin Molina  Science  71.480526    NORTH 2024-04-03
24      S025       Jason Jenkins  English  71.480526     WEST 2024-04-28
25      S026      Stephen Ingram     Math  97.090000  UNKNOWN 2024-04-22
26      S027      Cassandra Maso     Math  71.480526     WEST 2024-04-29
27      S028       Mark Mitchell     Math  78.950000    NORTH 2024-04-03
28      S029      Justin Serrano     Math  85.010000     EAST 2024-04-12
29      S030        Jacob Huerta  English  71.480526    NORTH 2024-04-28
30      S031             Unnamed  Science  71.480526     EAST 2024-04-23
31      S032      Bradley Martin  English  52.360000     EAST 2024-04-27
32      S033      Michael Cooper  Science  86.620000    SOUTH 2024-04-09
33      S034        Robert Woods     Math  71.480526     EAST 2024-04-29
34      S035             Unnamed     Math  58.260000    NORTH 2024-04-20
35      S036      Matthew Archer     Math  71.480526    NORTH 2024-04-17
36      S037     Mr. Thomas Jone  English  65.820000    SOUTH 2024-04-05
37      S038  Christina Gonzales     Math  56.400000     EAST 2024-04-15
38      S039        Brenda Watts  Science  94.300000     WEST 2024-04-06
39      S040        Brian Conway  Science  71.480526    SOUTH 2024-04-01
40      S041          Cindy Chan  English  71.480526     EAST 2024-04-02
41      S042           Amy Davis     Math  71.480526  UNKNOWN 2024-04-07
42      S043  Christopher Wilson  English  71.480526    SOUTH 2024-04-27
43      S044       Pamela Sutton  Science  71.480526  UNKNOWN 2024-04-16
44      S045          Dale Scott  English  71.480526    SOUTH 2024-04-17
45      S046      Brenda Gregory  English  71.480526    SOUTH 2024-04-20
46      S047      Steven Jackson  Science  68.290000    SOUTH 2024-04-23
47      S048    Christian Taylor  Science  71.480526  UNKNOWN 2024-04-10
48      S049           Gary Long  Science  71.480526     EAST 2024-04-04
49      S050             Unnamed     Math  71.480526     EAST 2024-04-11

In [35]:
# Result column
df_clean['Result'] = df_clean['Marks'].apply(lambda x: 'Pass' if x >= 70 else 'Fail')
df_clean

,StudentID,Name,Subject,Marks,Region,Date,Result
0,S001,Juan Miller,English,71.480526,EAST,2024-04-03,Pass
1,S002,Nicole Walters,Science,71.480526,WEST,2024-04-03,Pass
2,S003,Paige Scott,Math,71.480526,EAST,2024-04-16,Pass
3,S004,Jennifer Steele,Math,86.830000,NORTH,2024-04-17,Pass
4,S005,Felicia Franco,Math,71.480526,UNKNOWN,2024-04-14,Pass
5,S006,Jessica Scott,Science,90.040000,EAST,2024-04-10,Pass
6,S007,Dr. Joshua Dyer,English,71.480526,NORTH,2024-04-07,Pass
7,S008,Jessica Brown,English,71.480526,WEST,2024-04-12,Pass
8,S009,William Nicholson,Science,71.240000,SOUTH,2024-04-24,Pass
9,S010,Kristie Rose,English,56.710000,EAST,2024-04-14,Fail
10,S011,Charles Wilson,Science,71.480526,EAST,2024-04-11,Pass
11,S012,Joseph Castro,English,55.580000,WEST,2024-04-22,Fail
12,S013,Jennifer Taylor,Science,71.480526,UNKNOWN,2024-04-22,Pass
13,S014,Denise West,Science,71.480526,NORTH,2024-04-04,Pass
14,S015,Nicholas Michael,English,55.600000,UNKNOWN,2024-04-22,Fail
15,S016,Donald Williams,Math,71.480526,NORTH,2024-04-17,Pass
16,S017,Kristi Chandler,Science,55.030000,UNKNOWN,2024-04-01,Fail
17,S018,Alyssa Moore,Science,71.480526,SOUTH,2024-04-11,Pass
18,S019,Melissa Williams,English,79.080000,WEST,2024-04-03,Pass
19,S020,Dustin Edwards,Science,71.480526,EAST,2024-04-22,Pass
20,S021,Unnamed,Math,64.920000,EAST,2024-04-21,Fail
21,S022,Jeremiah Reyes,English,71.480526,WEST,2024-04-03,Pass
22,S023,Kristi Gallagher,Math,71.480526,SOUTH,2024-04-14,Pass
23,S024,Justin Molina,Science,71.480526,NORTH,2024-04-03,Pass
24,S025,Jason Jenkins,English,71.480526,WEST,2024-04-28,Pass
25,S026,Stephen Ingram,Math,97.090000,UNKNOWN,2024-04-22,Pass
26,S027,Cassandra Maso,Math,71.480526,WEST,2024-04-29,Pass
27,S028,Mark Mitchell,Math,78.950000,NORTH,2024-04-03,Pass
28,S029,Justin Serrano,Math,85.010000,EAST,2024-04-12,Pass
29,S030,Jacob Huerta,English,71.480526,NORTH,2024-04-28,Pass
30,S031,Unnamed,Science,71.480526,EAST,2024-04-23,Pass
31,S032,Bradley Martin,English,52.360000,EAST,2024-04-27,Fail
32,S033,Michael Cooper,Science,86.620000,SOUTH,2024-04-09,Pass
33,S034,Robert Woods,Math,71.480526,EAST,2024-04-29,Pass
34,S035,Unnamed,Math,58.260000,NORTH,2024-04-20,Fail
35,S036,Matthew Archer,Math,71.480526,NORTH,2024-04-17,Pass
36,S037,Mr. Thomas Jone,English,65.820000,SOUTH,2024-04-05,Fail
37,S038,Christina Gonzales,Math,56.400000,EAST,2024-04-15,Fail
38,S039,Brenda Watts,Science,94.300000,WEST,2024-04-06,Pass
39,S040,Brian Conway,Science,71.480526,SOUTH,2024-04-01,Pass
40,S041,Cindy Chan,English,71.480526,EAST,2024-04-02,Pass
41,S042,Amy Davis,Math,71.480526,UNKNOWN,2024-04-07,Pass
42,S043,Christopher Wilson,English,71.480526,SOUTH,2024-04-27,Pass
43,S044,Pamela Sutton,Science,71.480526,UNKNOWN,2024-04-16,Pass
44,S045,Dale Scott,English,71.480526,SOUTH,2024-04-17,Pass
45,S046,Brenda Gregory,English,71.480526,SOUTH,2024-04-20,Pass
46,S047,Steven Jackson,Science,68.290000,SOUTH,2024-04-23,Fail
47,S048,Christian Taylor,Science,71.480526,UNKNOWN,2024-04-10,Pass
48,S049,Gary Long,Science,71.480526,EAST,2024-04-04,Pass
49,S050,Unnamed,Math,71.480526,EAST,2024-04-11,Pass

In [36]:
missing_after = df_clean.isnull().sum()
result_counts = df_clean.groupby(['Subject', 'Result']).size().unstack(fill_value=0)
missing_after

StudentID    0
Name         0
Subject      0
Marks        0
Region       0
Date         0
Result       0
dtype: int64

In [37]:
result_counts

Result   Fail  Pass
Subject
English     5    11
Math        3    13
Science     2    16

In [38]:
# Save as CSV
df_clean.to_csv("dataset_cleaned.csv", index=False)

# Save as Excel
df_clean.to_excel("dataset_cleaned.xlsx", index=False)